.big-feature-section {
    padding: 40px var(--padding-inline-section);
}

.big-feature-container {
    gap: 50px;
}

.feature-img img {
    width: 100%;
}

.feature-disc {
    flex-direction: column;
    align-items: flex-start;
}

.feature-disc h4 {
    margin-bottom: 10px;
}