footer {
    padding-block: 80px;
    background-color: #ebf2fa;
}

.footer-container {
    justify-content: space-between;
    align-items: flex-start;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.link-column .hover-link {
    color: #544592;
    font-weight: 300;
    transition: 0.2s ease-in-out;
}

.link-column .hover-link:hover {
    color: #2294ed;
}
