.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img {
    width: 168px;
    height: 31px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;   
}