:root {
    --primary-color: #f2c84c;
    --color: #333333;
    --width-break: 600px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

nav {
    background-color: var(--primary-color);
    text-align: center;
}

.header {
    margin: 0;
    padding: 1.2rem;
    font-weight: 100;
    color: #333333;    
    font-size: 2rem;
}

main {
    padding: 1rem;
    margin: auto;
    max-width: var(--width-break);
}


textarea {
    width: 100%;
    margin: 2rem 0rem 0rem;
    display: block;
    box-sizing: border-box;
    /* margin: 3rem 1rem 0rem; */
    height: 20vh;
    font-size: large;
    font-family: inherit;
}

#btn-click {
    padding: 1.3rem 2rem ;
    margin: 1rem 0rem 1rem;
    background-color: var(--primary-color);
    color: var(--color);
    border: none;
    font-size: 1.2rem;
    font-family: monospace;
}

.showOutput {
    font-size: 1rem;
    margin: 0rem;
    color: #333333;
}

#output {
    border: 1px solid gray;
    height: 5vh;
    /* margin: 0rem; */
    overflow: scroll;
    padding: 1rem;
}

.footer {
    background-color: #f2c84c;
    padding: 0rem;
    font-size: 1rem;
    font-weight: 100;
    color: #333333;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    max-width: var(--width-break);
    margin: 1rem auto;

}